.v-ripple__container {
  display:none !important;
}

  /* Inactive menu (and other) buttons */
.simplebutton .v-btn:not(.v-btn--active):not(.v-btn--loading):not(:focus):not(:hover) .v-btn__content,
  /* Inactive top menu arrow icons */
.simplebutton .v-btn:not(.v-btn--active):not(.v-btn--loading):not(:focus):not(:hover) .v-icon,
  /* Inactive sidebar and submenu items */
.simplebutton a.v-list-item:not(a.v-list-item--active):not(a.v-list-item--disabled):not(:focus):not(:hover) .v-list-item__title,
  /* Inactive sidebar icons */
.simplebutton a.v-list-item:not(a.v-list-item--active):not(a.v-list-item--disabled):not(:focus):not(:hover) .v-icon,
  /* Inactive sidebar arrow icons */
.simplebutton a.v-list-item:not(a.v-list-item--active):not(a.v-list-item--disabled):not(:focus):not(:hover) + .v-list-item__icon .v-icon {
  opacity: 1;
  color: var(--v-info-base);
}

  /* Active top menu buttons */
.simplebutton .v-btn--active .v-btn__content,
.simplebutton .v-btn--active .v-btn__content,
  /* Active top menu arrow icons */
.simplebutton .v-btn--active .v-icon,
  /* Active sidebar and submenu items */
.simplebutton a.v-list-item--active .v-list-item__title,
  /* Active sidebar icons) */
.simplebutton a.v-list-item--active .v-icon,
  /* Active sidebar arrow icons */
.simplebutton a.v-list-item--active + .v-list-item__icon .v-icon {
  opacity: 1;
  color: var(--v-accent-base);
}

  /* Hovering over top menu buttons */
.simplebutton .v-btn:hover:not(.v-btn--active) .v-btn__content,
  /* Focusing on top menu buttons */
.simplebutton .v-btn:focus:not(.v-btn--active) .v-btn__content,
  /* Hovering over top menu arrow icons*/
.simplebutton .v-btn:hover:not(.v-btn--active) .v-icon,
  /* Focusing on top menu arrow icons*/
.simplebutton .v-btn:focus:not(.v-btn--active) .v-icon,
  /* Hovering over sidebar and submenu items*/
.simplebutton a.v-list-item:hover:not(.v-list-item--active) .v-list-item__title,
  /* Focusing on sidebar and submenu items*/
.simplebutton a.v-list-item:focus:not(.v-list-item--active) .v-list-item__title,
  /* Hovering over sidebar icons*/
.simplebutton a.v-list-item:hover:not(.v-list-item--active) .v-icon,
  /* Focusing on sidebar icons*/
.simplebutton a.v-list-item:focus:not(.v-list-item--active) .v-icon,
  /* Hovering over sidebar arrow icons*/
.simplebutton a.v-list-item:hover:not(a.v-list-item--active) + .v-list-item__icon .v-icon,
  /* Focusing on sidebar arrow icons*/
.simplebutton a.v-list-item:focus:not(a.v-list-item--active) + .v-list-item__icon .v-icon {
  opacity: 1;
  color: var(--v-accent-lighten3);
}

/* Remove darken and lighten when selecting menu buttons and items */
.simplebutton .v-list-item--link:before,
.simplebutton .v-btn:before {
  background-color: transparent;
}

/* Remove transition effect when selecting menu buttons and items */
.simplebutton .v-list-item--link,
.simplebutton .v-btn {
  transition-property: none;
  box-shadow: none;
}

/*!* Remove darken and lighten when selecting menu buttons and items *!*/
/*.secondary .v-list-item--link:before,*/
/*.secondary .v-btn:before {*/
/*  background-color: transparent;*/
/*}*/

/*!* Remove transition effect when selecting menu buttons and items *!*/
/*.secondary .v-list-item--link,*/
/*.secondary .v-btn {*/
/*  transition-property: none;*/
/*}*/

