/* v-tooltip styling */

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^='top'] {
  margin-bottom: 5px;
}

.tooltip[x-placement^='top'] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='bottom'] {
  margin-top: 5px;
}

.tooltip[x-placement^='bottom'] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='right'] {
  margin-left: 5px;
}

.tooltip[x-placement^='right'] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^='left'] {
  margin-right: 5px;
}

.tooltip[x-placement^='left'] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, 0.1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}

/* Set font of body tag to sans-serif (for tooltips) */
body {
  font-family: 'Roboto', sans-serif !important;
}

body {
  scroll-margin-top: 64px;
}

/* Remove underline from links */

a {
  text-decoration: none;
}

/* Improve presentation of bullet points*/

ul:not(.v-pagination) {
  display: block;
  margin-left: 21px;
  margin-right: 50px;
}

ul:not(.v-pagination) li {
  display: block;
  position: relative;
}

ul:not(.v-pagination) li:not(:last-child) {
  margin-bottom: 10px;
}

ul:not(.v-pagination) li:before {
  content: '';
  position: absolute;
  top: calc(50% - 3.5px);
  left: -28px;
  background: var(--v-accent-base);
  height: 7px;
  width: 7px;
  border-radius: 50%;
}

/* Inactive menu (and other) buttons */
.simplebutton .v-btn:not(.v-btn--active):not(.v-btn--loading):not(.custom-hover):not(:focus):not(:hover) .v-btn__content,
/* Inactive top menu arrow icons */
.simplebutton .v-btn:not(.v-btn--active):not(.v-btn--loading):not(:focus):not(:hover) .v-icon,
/* Inactive sidebar and submenu items */
.simplebutton:not(.highlight-background) a.v-list-item:not(a.menu-item-active):not(a.v-list-item--disabled):not(:focus):not(:hover) .v-list-item__title,
/* Inactive sidebar icons */
.simplebutton:not(.highlight-background) a.v-list-item:not(a.menu-item-active):not(a.v-list-item--disabled):not(:focus):not(:hover) .v-icon,
/* Inactive sidebar arrow icons */
.simplebutton:not(.highlight-background) a.v-list-item:not(a.menu-item-active):not(a.v-list-item--disabled):not(:focus):not(:hover) + .v-list-item__icon .v-icon {
  opacity: 1;
  color: white;
}

/* Active  menu (and other) buttons */
.simplebutton .v-btn--active .v-btn__content,
/* Active top menu arrow icons */
.simplebutton .v-btn--active .v-icon,
/* Active sidebar and submenu items */
.simplebutton:not(.highlight-background) .v-list-item--active .v-list-item__title,
/* Active sidebar icons */
.simplebutton:not(.highlight-background) .v-list-item--active .v-icon,
/* Active sidebar arrow icons */
.simplebutton:not(.highlight-background) .v-list-item--active + .v-list-item__icon .v-icon,
/* Active chips */
.simplebutton:not(.highlight-background) .v-chip--active .v-chip__content {
  opacity: 1;
  color: var(--v-accent-base);
}

/* Hovering over menu (and other) buttons */
.simplebutton .v-btn:hover:not(.v-btn--active) .v-btn__content,
/* Dynamic hover over menu (and other) buttons */
.simplebutton .v-btn.custom-hover:not(.v-btn--active) .v-btn__content,
/* Focusing on  menu (and other) buttons */
.simplebutton .v-btn:focus:not(.v-btn--active) .v-btn__content,
/* Hovering over top menu arrow icons */
.simplebutton .v-btn:hover:not(.v-btn--active) .v-icon,
/* Focusing on top menu arrow icons */
.simplebutton .v-btn:focus:not(.v-btn--active) .v-icon,
/* Hovering over sidebar and submenu items */
.simplebutton:not(.highlight-background) .v-list-item:hover:not(.v-list-item--active) .v-list-item__title,
/* Focusing on sidebar and submenu items */
.simplebutton:not(.highlight-background) .v-list-item:focus:not(.v-list-item--active) .v-list-item__title,
/* Hovering over sidebar icons */
.simplebutton:not(.highlight-background) .v-list-item:hover:not(.v-list-item--active) .v-icon,
/* Focusing on sidebar icon s */
.simplebutton:not(.highlight-background) .v-list-item:focus:not(.v-list-item--active) .v-icon,
/* Hovering over sidebar arrow icons */
.simplebutton:not(.highlight-background) .v-list-item:hover:not(.v-list-item--active) + .v-list-item__icon .v-icon,
/* Focusing on sidebar arrow icons */
.simplebutton:not(.highlight-background) .v-list-item:focus:not(.v-list-item--active) + .v-list-item__icon .v-icon,
/* Hovering  on chips */
.simplebutton:not(.highlight-background) .v-chip:hover:not(.v-chip--active) .v-chip__content {
  opacity: 1;
  color: var(--v-accent-lighten3);
}

/* Hightlight effects of lists with background highlighting */
.simplebutton.highlight-background .v-list-item--active {
  background-color: rgba(var(--v-accent-rgb), 0.2);
}
.simplebutton.highlight-background .v-list-item:hover:not(.v-list-item--active),
.simplebutton.highlight-background .v-list-item:focus:not(.v-list-item--active) {
  background-color: rgba(var(--v-accent-rgb), 0.075);
}

/* Disable ripple effect globally */
.v-ripple__container {
  display: none !important;
}
.v-card--link:before {
  background: none;
  opacity: 0 !important;
}

/* Remove darken and lighten when selecting menu buttons and items */
.simplebutton .v-list-item--link:before,
.simplebutton .v-btn:before {
  background-color: transparent;
}

/* Remove transition effect when selecting menu buttons and items */
.simplebutton .v-list-item--link,
.simplebutton .v-btn {
  transition-property: none;
  box-shadow: none;
}

/* For some reason, this whole section of CSS from vuetify is not applied
   if javascript if turned off. To fix this, the section is duplicated here. */

.v-chip-group .v-chip {
  margin: 4px 8px 4px 0;
}

.v-chip-group .v-chip--active {
  color: inherit;
}

.v-chip-group .v-chip--active.v-chip--no-color:after {
  opacity: 0.22;
}

.v-chip-group .v-chip--active.v-chip--no-color:focus:after {
  opacity: 0.32;
}

.v-chip-group .v-slide-group__content {
  padding: 4px 0;
}

.v-chip-group--column .v-slide-group__content {
  white-space: normal;
  flex-wrap: wrap;
  max-width: 100%;
}
/* End of duplicated CSS*/

.v-slide-group__content {
  justify-content: center;
}

.v-chip::before {
  color: var(--v-accent-base);
}

.v-chip--active::before {
  opacity: 0.2 !important;
}

.v-chip--clickable {
  box-shadow: none !important;
}
/*.v-chip--clickable:active {*/
/*  box-shadow: none;*/
/*}*/

/* For Markdown content */

.nuxt-content > p {
  margin: 16px;
}

.nuxt-content > blockquote {
  padding-left: 20px;
  margin-left: 45px;
  border-left: 3px solid #ccc;
}

.nuxt-content > blockquote > p {
  display: block;
  font: 14px/22px sans-serif;
}

.footnotes {
  font: 12px/20px sans-serif;
}

/* CSS-based display logic based on viewport breakpoints */

@media (min-width: 1904px) {
  .xl-and-up {
    display: block;
  }

  .xl-only {
    display: block;
  }

  .lg-and-down {
    display: none;
  }

  .lg-only {
    display: none;
  }
}

@media (max-width: 1903px) {
  .xl-and-up {
    display: none;
  }

  .xl-only {
    display: none;
  }

  .lg-and-down {
    display: block;
  }

  .lg-only {
    display: block;
  }
}

@media (min-width: 1264px) {
  .lg-and-up {
    display: block;
  }

  .md-and-down {
    display: none;
  }

  .md-only {
    display: none;
  }
}

@media (max-width: 1263px) {
  .lg-and-up {
    display: none;
  }

  .lg-only {
    display: none;
  }

  .md-and-down {
    display: block;
  }

  .md-only {
    display: block;
  }
}

@media (min-width: 960px) {
  .md-and-up {
    display: block;
  }

  .sm-and-down {
    display: none;
  }

  .sm-only {
    display: none;
  }
}

@media (max-width: 959px) {
  .md-and-up {
    display: none;
  }

  .md-only {
    display: none;
  }

  .sm-and-down {
    display: block;
  }

  .sm-only {
    display: block;
  }
}

@media (min-width: 600px) {
  .sm-and-up {
    display: block;
  }

  .xs-and-down {
    display: none;
  }

  .xs-only {
    display: none;
  }
}

@media (max-width: 599px) {
  .sm-and-up {
    display: none;
  }

  .sm-only {
    display: none;
  }

  .xs-and-down {
    display: block;
  }

  .xs-only {
    display: block;
  }
}
